.App {
  min-width: 100%;
  min-width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0; 
}

.container {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.col {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.row {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

header {
  font-size: 60px;

  margin: 30px 0 45px 0;
}

.header {
  align-content: center;
  align-items: center;
  text-align: center;
}

.masterLink {
  margin: 1vw;
  padding: 1.5vh 0;

  color: red;
  font-size: 3.5vh;
}

.masterLink:hover {
  margin: 1vw;
  padding: 1.5vh 0;

  color: red;
  text-decoration: none;

  background-image: linear-gradient(to right, red, red);
  background-position: 0 7vh;
  background-repeat: repeat-x;
  background-size: 10px 2.5px;
}

.nav {
  display: flex;
  
  font-family: 'Nanum Gothic', sans-serif;

  margin: 0 0 0 0;
  padding: 0;
}

.main {
  padding: 0;
  margin: 8vh 0 0 0;
  min-width: 100%;
  min-height: 100%;
}