.App {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0; 
}

.container {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.col {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.row {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;

justify-content: center;
}

header {
  font-size: 60px;

  margin: 30px 0 45px 0;
}

.header {
  align-content: center;
  align-items: center;
  text-align: center;
}

.masterLink {
  margin: 1vw;
  padding: 2vh 0;

  /* color: #E9C698; */
  color: white;
  font-size: 3vh;
  font-weight: bold;

  text-shadow: 0px 1.5px 2px rgb(0, 0, 0, .08)
}

.masterLink:hover {
  margin: 1vw;
  padding: 2vh 0;

  font-size: 2.8vh;
  font-weight: bold;
  color: black;
  text-decoration: none;

  text-shadow: 0px 2px 2px rgb(0, 0, 0, .08);

  background-image: linear-gradient(to right, black, black);
  background-position: 0 7vh;
  background-repeat: repeat-x;
  background-size: 10px 1.5px;
}

.nav {
  display: flex;
  min-height: 100%;
  
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  
  margin: 0;
  padding: 0;
}

.main {
  padding: 0;
  margin: 8vh 0 0 0;
  min-width: 100%;
  min-height: 100%;
}

.instaHandle {
  height: 4vh;
  bottom: 50px;
  right: 50px;
  /* position: fixed; */
  /* z-index: -1; */

  color: black;
  font-family: 'Playfair Display', serif;
  text-shadow: .85px .85px 0px rgb(0, 0, 0, .1);
  font-size: 4vmin;
  font-weight: bold;
  text-decoration: none
}

.instaLink {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.instaLink:hover {
  color: white;
  text-decoration: none;
  font-size: 3.5vmin;
}

.photo {
  justify-content: right;
  align-content: right;
  text-align: right;
  align-items: flex-end;

  margin: 20vmin 0 0 0;
}