.App {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  border: 0;
  padding: 0;

  background: transparent;
}

div {
  margin: 0;
  padding: 0; 
}

.container {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;

  background: transparent;
}

.col {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}

.row {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;

  justify-content: center;
}

header {
  font-size: 60px;

  margin: 30px 0 45px 0;
}

.header {
  align-content: center;
  align-items: center;
  text-align: center;
}

.masterLink {
  margin: 1vw;
  padding: 2vh 0;

  color: #FFEEE0;
  font-size: 3vh;
  font-weight: bold;

  text-shadow: 0px 1.5px 2px rgb(0, 0, 0, .08)
}

.masterLink:hover {
  margin: 1vw;
  padding: 2vh 0;

  font-size: 2.8vh;
  font-weight: bold;
  color: #FFEEE0;
  text-decoration: none;

  text-shadow: 0px 2px 2px rgb(0, 0, 0, .08);

  background-image: linear-gradient(to right, #FFEEE0, #FFEEE0);
  background-position: 0 7vh;
  background-repeat: repeat-x;
  background-size: 10px 1.5px;
}

.nav {
  display: flex;
  min-height: 100%;
  
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  
  margin: 0;
  padding: 0;

  background: transparent;
}

.main {
  padding: 0;
  margin: 8vh 0 0 0;
  min-width: 100%;
  min-height: 100%;

  content: '';
  background: url('./images/me.png') no-repeat;
  background-size: 350px 450px;
  background-position: 50vw 0px;
}

.instaHandle {
  height: 4vh;
  position: fixed;
  bottom: 50px;
  right: 50px;

  color: #FFEEE0;
  font-family: 'Playfair Display', serif;
  text-shadow: 0px 1.5px 2px rgb(0, 0, 0, .08);
  font-size: 4vmin;
  font-weight: bold;
  text-decoration: none
}

.instaLink {
  color: #FFEEE0;
  text-decoration: none;
  font-weight: bold;
}

.instaLink:hover {
  color: #EC6A4A;
  text-decoration: none;
  font-size: 3.75vmin;
}

.photo {
  justify-content: center;
  align-content: center;
  text-align: right;
  align-items: flex-end;

  margin: 10vmin 0;
}