.homePage {
    align-items: center;
    justify-content: center;
}

.homeText {

    margin: 0;
    padding: 0 15vw;
    
    font-size: 5.75vmin;
    color: rgb(255, 255, 255);
    font-family: 'DM Serif Text', serif;
    text-shadow: 1px 4px 8px rgb(0, 0, 0, .2);
    text-align: center;

    align-items: center;
    justify-content: center;
}