.homePage {
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rokkitt', serif;
  position: relative;
  margin-top: 15vh;
}

.linkWrapper, .masterLink {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1.5px 2px rgb(0, 0, 0, 0.08);
  font-size: 25px;
  text-align: center;
}