.projectsContainer {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0 15vh;
}

h1 {
    color: white;
}

.projectsCard {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}