.projectCard {
    margin: 2vh 0 0 0;

    font-family: 'DM Serif Text', serif;
}

.projectLink {
    margin: 0;
    padding: 0;
    max-height: 0;
    max-width: 0;

    text-decoration: none;
    color: white;

    text-shadow: 0px 4px 6px rgb(0, 0, 0, .08)
}

.projectLink:hover {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    
    text-decoration: none;
    color: white;

    text-shadow: 0px 4px 6px rgb(0, 0, 0, .08)
}

.projectCenter{
    align-content: center;
    align-items: center;
    text-align: center;

    padding: 0;
}

.projectImg {
    max-width: 45vmin;
    max-height: 30vmin;
    padding: 20px;
    border: 20px solid white;
    background: #E1E2DC;
    box-shadow: 0px 1px 5px rgba(0,0,0,.2)
}

.projectTitle {
    text-align: center;
    font-size: 7vmin;

    /* height: 10vmin; */
}

.projectTitle:hover {
    text-align: center;
    font-size: 7vmin;

    /* height: 10vmin; */
}
